<div class="profile-grid">
        <div class="profile-data">
            <div class="pfp-border">
                <div class="pfp">
                    <img src="/assets/img/me.jpg" alt="" width="150px" height="150px">
                </div>
            </div>
            <section class="right-side">
                <section class="NBTN">
                    <div class="left">
                        <h2 class="profile-name">Lexi</h2>
                        <div class="profile-button">
                            <button class="btn btn-secondary btn-sm"><a href="mailto:krisafarinas@gmail.com">Message</a></button>
                            <button class="btn btn-secondary btn-sm"><a download="" href="/assets/pdf/Alexies Farinas Resume 2023.pdf"><i class="bi bi-download"></i></a></button>
                            <button class="menu" type="button" id="BTN"><i class="bi bi-three-dots"></i></button>
                        </div>
                    </div>
                </section>
                <ul class="ul-numbers">
                    <li class="li-numbers"><span class="bold">9</span> projects</li>
                    <li class="li-numbers"><span class="bold">23</span> followers</li>
                    <li class="li-numbers"><span class="bold">7</span> following</li>
                </ul>
                <section class="bio">
                    <br>
                    <p>Aspiring Web Developer</p>
                </section>
            </section>
        </div>
</div>

<main class="main">
    <div class="filter-header">
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]='{exact:true}' routerLink="" class="project"><i class=" ri-grid-line"></i>PROJECTS</a>
        <a [routerLinkActive]="'active'" routerLink="/skills" class="skills"><i class="ri-hashtag"></i>SKILLS</a>
    </div>
</main>
