<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="socials">
            <div class="modal-linkedin">
                <button class="linkedin">
                    <a href="https://www.linkedin.com/in/akaf/" target="_blank" class="social-link">Linkedin</a>
                </button>
            </div>
            <div class="modal-github">
                <button class="github">
                    <a href="https://github.com/6amrun" target="_blank" class="social-link">Github</a>
                </button>
            </div>
            <div class="modal-close">
                <button type="b3" class="close">Close</button>
            </div>
        </div>
    </div>
</div>