    <div class="filter-sections">
        <!--=============== SKILLS ===============-->
        <div class="tab-content">
            <div class="skills-grid" data-content id="skills">
                <!-- FRONTEND -->
                <div class="skills-area">
                    <h3 class="skills-title">Frontend</h3>
                    <div class="skills-box">
                        <div class="skills-group">
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">HTML</h3>
                                    <span class="skills-level">Basic</span>
                                </div>
                            </div>
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">CSS</h3>
                                    <span class="skills-level">Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="skills-group">
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">JavaScript</h3>
                                    <span class="skills-level">Intermediate</span>
                                </div>
                            </div>
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">Git</h3>
                                    <span class="skills-level">Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- BACKEND -->
                <div class="skills-area">
                    <h3 class="skills-title">Backend</h3>
                    <div class="skills-box">
                        <div class="skills-group">
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">PHP</h3>
                                    <span class="skills-level">Intermediate</span>
                                </div>
                            </div>
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">MySQL</h3>
                                    <span class="skills-level">Advance</span>
                                </div>
                            </div>
                        </div>

                        <div class="skills-group">
                            <div class="skills-data">
                                <i class="ri-checkbox-circle-line"></i>
                                <div>
                                    <h3 class="skills-name">Python</h3>
                                    <span class="skills-level">Basic</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>